<br>
<div class="col-md-offset-4 col-md-4">
  <div class="form-group">
    <%= form_for "", url: sessions_path, method: :post do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      <br>
      <div class="center-button">
        <%= f.submit "Sign In" , class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>
