<div class="container">
  <br>
  <br>
  <% @courses.each do |course| %>
  <div class="col-md-4">
    <div class="game-container col-md-11">
      <div class="all-courses">
        <%= image_tag course.golf_course_image.url(:small), class: "map-and-image" %>
      </div>
      <p class="link-word centered-text"><%= link_to course.name, course %></p>
      <p class="link-word centered-text">Upcoming Games at this course: <%= course.games.count %></p>
    </div>
  </div>
  <% end %>

  <p class="centered-text"><%= link_to "New Golf Course", new_golf_course_path, class: "btn btn-warning" %></p>

  <div class="map-div">
    <div id="map" class="map-and-image" style='height: 350px; width: 650px;'></div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw generate_markers(@courses).to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(9);
    });
  });
</script>
