<h1>Golf Course Show Page</h1>

<h2><%= @course.name %></h2>

<%= image_tag @course.golf_course_image.url(:large) %>

<%= link_to "Edit", edit_golf_course_path(@course), class:"btn btn-primary"%>

<%= link_to "Delete", golf_course_path(@course), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>

<div>
  <div id="map" class="map-and-image" style='height: 400px; width: 400px;'></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw generate_markers(@course).to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
  });
</script>
