<h2>Edit</h2>

<%= image_tag @user.user_image.url(:medium) %>

<%= simple_form_for @user do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :handicap %>
  <%= f.input :age %>
  <%= f.input :phone_number %>
  <%= f.input :description %>
  <%= f.input :user_image %>
  <%= f.input :min_handicap %>
  <%= f.input :max_handicap %>
  <%= f.submit "Update Information" %>
<% end %>
