<div class="col-md-2">
  <%= render "/layouts/sidebar" %>
</div>

<div class="col-md-9">
  <br>
  <h4>Accept requests!</h4>
  <br>

  <% @user_games.each do |game| %>
    <% if game.requesting_users.count > 0 %>
      <div class="col-md-7 col-md-offset-2">
        <div class="col-md-12 game-container">
          <p><span class="flag-icon"><%= link_to fa_icon("flag"), game %></span><span class="link-word">Tee Time: </span><%= formatted_date(game.date) %> at <%= formatted_time(game.date) %></p>
          <p><span class="link-word">Course: </span><%= link_to game.golf_course.name, game.golf_course %></p>

          <p class="link-word centered-text">Requests From The Following Players:</p>
          <% game.requesting_users.each do |user| %>
            <div class="col-md-6">
              <p class="request-player"><%= link_to user.full_name, user_path(user) %></p>
            </div>
            <div class="col-md-6">
              <div class="btn btn-warning invitation-buttons">
                <%= link_to "Accept", accept_request_path(GamePlayer.for_game_and_user(game, user).id), method: :put, class: "invitation-buttons" %>
              </div>
              <div class="btn btn-danger invitation-buttons">
                <%= link_to "Decline", decline_request_path(GamePlayer.for_game_and_user(game, user).id), method: :put, class: "invitation-buttons" %>
              </div>
            </div>
            <div class=col-md-12>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
