<div class="page-header">
  <h1>Requests Index Page</h1>
</div>

<div class="col-md-2">
  <%= render "/layouts/sidebar" %>
</div>

<div class="col-md-10">
  <h3>New Requests</h3>

  <% @user_games.each do |game| %>
    <% if game.requesting_users.count > 0 %>
      <div class="game-container col-md-10">
        <div class="col-md-3">
          <p class="info-text">Game Details</p>
          <p>Game At: <%= game.date %></p>
          <p>Golf Course: <%= game.golf_course.name %></p>
        </div>

        <div class="col-md-9">
          <p class="info-text">Requests From The Following Users</p>
        </div>
        <% game.requesting_users.each do |user| %>
          <div class="col-md-3">
            <p><%= link_to user.full_name, user_path(user) %></p>
            <p><%= link_to "Accept", accept_request_path(GamePlayer.for_game_and_user(game, user).id), method: :put, class: "btn btn-accept"  %>
              <%= link_to "Decline", decline_request_path(GamePlayer.for_game_and_user(game, user).id), method: :put, class: "btn btn-decline"  %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
