<h1>Requests Index Page</h1>

<h3>New Requests</h3>

<% @user_games.each do |game| %>
  <div>
    <% if game.requesting_users.count > 0 %>
      <p><%= game.date %></p>
      <p><%= game.golf_course.name %></p>
      <% game.requesting_users.each do |user| %>
        <p><%= game.id %></p>
        <div>
          <p><%= link_to user.full_name, user_path(user) %></p>
          <%= GamePlayer.for_game_and_user(game, user).status %>
          <p><%= link_to "Accept", accept_request_path(GamePlayer.for_game_and_user(game, user).id), method: :put  %> |
             <%= link_to "Decline", decline_request_path(GamePlayer.for_game_and_user(game, user).id), method: :put  %></p>
        </div>
      <% end %>
    <hr>
    <% end %>
  </div>
<% end %>
