<div class="page-header">
  <h2>Invitations Index Page</h2>
</div>

<div class="col-md-2">
  <%= render "/layouts/sidebar" %>
</div>

<div class="col-md-10">
  <p>Invitations For the Following Games</p>

  <% @invitations.each do |invitation| %>
    <p>Invited By: <%= link_to invitation.game.owner.full_name, invitation.game.owner %>
    <p>Golf Course: <%= invitation.game.golf_course.name %>
    <p>Date: <%= invitation.game.date %></p>
    <p>
      <%= link_to "Accept", accept_invitation_path(invitation), method: :put  %> |
      <%= link_to "Decline", decline_invitation_path(invitation), method: :put  %>
    </p>
    <hr>
  <% end %>
</div>
