<div class="col-md-2">
  <%= render "/layouts/sidebar" %>
</div>

<div class="col-md-10">
  <br>
  <h4>Accept an invitation!</h4>
  <br>

  <% @invitations.each do |invitation| %>
    <div class="col-md-6">
      <div class="game-container col-md-12">
        <div class="col-md-9">
          <p><span class="flag-icon"><%= link_to fa_icon("flag"), invitation.game %></span><span class="link-word">Invited By: </span><%= link_to invitation.game.owner.full_name, invitation.game.owner %></p>
          <p><span class="link-word">Tee Time: </span><%= formatted_date(invitation.game.date) %> at <%= formatted_time(invitation.game.date) %></p>
          <p><span class="link-word">Course: </span><%= link_to invitation.game.golf_course.name, invitation.game.golf_course %></p>
        </div>
        <div class="col-md-3">
          <div class="btn btn-warning invitation-buttons">
            <%= link_to "Accept", accept_invitation_path(invitation), method: :put, class: "invitation-buttons" %>
          </div>
          <div class="btn btn-danger invitation-buttons">
            <%= link_to "Decline", decline_invitation_path(invitation), method: :put, class: "invitation-buttons" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
