<div class="col-md-2">
  <%= render "/layouts/sidebar" %>
</div>

<div class="col-md-10">
  <div id="all-div" class="col-md-10">
    <br>
    <br>
    <p class="calendar-flag"><span class="badge black-badge"><span class="fa fa-flag calendar-flag green-flag"></span>
    </span> = Games I've created<span class="text-to-right"><span class="badge black-badge">
      <span class="fa fa-flag calendar-flag orange-flag"></span>
      </span> = Games I've been invited to or requested to join</span></p>

    <div class="game-container">
      <div id='calendar'>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){

  $("#calendar").fullCalendar({
    events: [
      <% @all_users_games.each do |game| %>
      {
        description : '<%= game.golf_course.name %>',
        start : '<%= game.date %>',
        id    : '<%= game.id %>',
        owner_id : '<%= game.owner.id %>'
      },
      <% end %>
    ],

    eventRender: function(event, element) {
      $(element).attr("href", "/games/" + event.id);
       if ( '<%= current_user.id %>' === event.owner_id ) {
         $(element).html('<i class="fa fa-flag calendar-flag"></i>');
       } else {
         $(element).html('<i class="fa fa-flag orange-flag calendar-flag"></i>');
       }
    },

    eventMouseover: function(calEvent, jsEvent) {
      var tooltip = '<div class="tooltipevent">' + calEvent.description + '</div>';
      $("body").append(tooltip);
      $(this).mouseover(function(e) {
          $(this).css('z-index', 10000);
          $('.tooltipevent').fadeIn('500');
          $('.tooltipevent').fadeTo('10', 1.9);
      }).mousemove(function(e) {
          $('.tooltipevent').css('top', e.pageY + 10);
          $('.tooltipevent').css('left', e.pageX + 20);
      });
    },

    eventMouseout: function(calEvent, jsEvent) {
      $(this).css('z-index', 8);
      $('.tooltipevent').remove();
    },

    eventColor: 'black',
    eventTextColor: '#44f907',
    height: 450
    });


});
</script>
