<div class="page-header">
  <h1>Games Index Page</h1>
</div>

<div class="col-md-2">
  <%= render "/layouts/sidebar" %>
</div>

<div class="col-md-10">

<div class=col-md-9>
  <h3>Games I've Created</h3>

  <% @games.each do |game| %>
    <div class="game-container">
      <p>Golf Course: <%= link_to game.golf_course.name, game %></p>
      <p><%= link_to "Game", game %> is at: <%= game.date %></p>
    </div>
  <% end %>
</div>

<div class=col-md-9>
  <h3>Games I've been Invited To</h3>

  <% @invited_games.each do |game| %>
    <div class="game-container">
      <p>Golf Course: <%= link_to game.golf_course.name, game %></p>
      <p><%= link_to "Game", game %> is at: <%= game.date %></p>
    </div>
  <% end %>
</div>

<div class=col-md-9>
  <h3>Games I've Requested To Join</h3>

  <% @requested_games.each do |game| %>
    <div class="game-container">
      <p>Golf Course: <%= link_to game.golf_course.name, game %></p>
      <p><%= link_to "Game", game %> is at: <%= game.date %></p>
    </div>
  <% end %>
</div>

<div class=col-md-9>
  <h3>All My Games</h3>

  <% @all_users_games.each do |game| %>
    <div class="game-container">
      <p>Golf Course: <%= link_to game.golf_course.name, game %></p>
      <p><%= link_to "Game", game %> is at: <%= game.date %></p>
    </div>
  <% end %>
</div>

<div class=col-md-9>
  <h3>All Games</h3>

  <% @all_games.each do |game| %>
    <div class="game-container">
      <p>Golf Course: <%= link_to game.golf_course.name, game %></p>
      <p><%= link_to "Game", game %> is at: <%= game.date %></p>
    </div>
  <% end %>
</div>

</div>

<script>
$(function(){

	$('#slide-submenu').on('click',function() {
        $(this).closest('.list-group').fadeOut('slide',function(){
        	$('.mini-submenu').fadeIn();
        });

      });

	$('.mini-submenu').on('click',function(){
        $(this).next('.list-group').toggle('slide');
        $('.mini-submenu').hide();
	})
})
</script>
