<div class="col-md-2">
  <%= render "/layouts/sidebar" %>
</div>

<div class="col-md-10">
  <br>
  <h4>Game Information Below!</h4>
  <br>
  <div class="col-md-6">
    <div class="game-container col-md-11">
      <p class="centred-text link-word">Details</p>
      <p><span class="link-word">Tee Time: </span><%= formatted_date(@game.date) %> at <%= formatted_time(@game.date) %></p>
      <p><span class="link-word">Course: </span><%= link_to @game.golf_course.name, @game.golf_course %></p>
      <p><span class="link-word">Organised by: </span><%= link_to @game.owner.full_name, "javascript:void(0)", data: {toggle: "modal", target: "#userModal"} %></p>
    </div>

    <div class="game-container col-md-11">
      <p class="centred-text link-word">Confirmed Players</p>
      <ul>
        <% @game.confirmed_to_play.each do |player| %>
          <li class="col-md-6"><%= link_to player.user.full_name, "javascript:void(0)", data: {toggle: "modal", target: "#playerModal-" + "#{player.id}"} %></li>
          <div class="modal fade" id="playerModal-<%= player.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title centered-text" id="myModalLabel"><%= player.user.full_name %></h4>
                </div>
                <div class="modal-body">
                  <div class="user-modal-container">

                    <div class="text-center">
                      <%= image_tag player.user.user_image.url(:medium), class: "map-and-image" %>
                    </div>
                    <br>

                    <div class="game-container modal-game-container">
                      <p><span  class="link-word">Handicap: </span><%= player.user.handicap%></p>
                      <p><span  class="link-word">Age: </span><%= player.user.age %></p>
                      <p><span  class="link-word">Description: </span><%= player.user.description %></p>
                      <p><span  class="link-word">Email: </span><%= player.user.email%></p>
                      <p><span  class="link-word">Min Handicap: </span><%= player.user.min_handicap %></p>
                      <p><span  class="link-word">Max Handicap: </span><%= player.user.max_handicap %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </ul>
    </div>

    <% if @game.owner != current_user %>
      <% if current_user.invited(@game).count > 0 %>
        <div class="col-md-11 game-container">
          <p class="centred-text link-word">Join The Game!</p>
          <div class="centred-text">
            <div class="btn btn-warning">
              Already Invited!
            </div>
          </div>
        </div>
      <% elsif current_user.requested(@game).count > 0 %>
        <div class="col-md-11 game-container">
          <p class="centred-text link-word">Join The Game!</p>
          <div class="centred-text">
            <div class="btn btn-warning">
              Already Requested!
            </div>
          </div>
        </div>
      <% elsif current_user.already_playing(@game) %>
        <div class="col-md-11 game-container">
          <p class="centred-text link-word">Join The Game!</p>
          <div class="centred-text">
            <div class="btn btn-warning">
              Already Playing!
            </div>
          </div>
        </div>
      <% elsif current_user.already_declined(@game).count > 0 %>
        <div class="col-md-11 game-container">
          <p class="centred-text link-word">Join The Game!</p>
          <div class="centred-text">
            <div class="btn btn-danger">
              Request Has Already Been Declined
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-md-11 game-container">
          <p class="centred-text link-word">Join The Game!</p>
          <%= simple_form_for @request, url: game_requests_path(@game) do |f| %>
            <div class="centred-text">
              <%= f.submit "Send Request", class:"btn btn-warning" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if @game.owner == current_user %>
      <div class="form-group col-md-11 game-container">
        <p class="centred-text link-word">Invite someone to play!<p>
        <%= simple_form_for @invitation, url: game_invitations_path(@game) do |f| %>
          <%= f.association :user, collection: @invitables, label_method: :full_name, prompt: "Choose a user to invite", id: "category", class: "form-control", label: false %>
          <br>
          <div class="centred-text">
            <%= f.submit "Send Invitation", class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @game.owner == current_user %>
      <div class="col-md-11 game-container">
        <p class="centred-text link-word">Modify Game Details<p>
        <div class="centred-text">
          <%= link_to "Edit Game", edit_game_path(@game), class:"btn btn-primary" %>
          <%= link_to "Delete Game", game_path(@game), method: :delete,
              data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <div id="map" class="map-and-image" style='height: 400px; width: 400px;'></div>
  </div>
</div>

<%= render "users/show" %>

<script type="text/javascript">
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
          {
            "lat": <%= @game.golf_course.latitude %>,
            "lng": <%= @game.golf_course.longitude %>,
          }
        ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });

  $("select#game_player_user_id").addClass('form-control');
  $("select#game_player_user_id option").addClass('form-control');

});


</script>
