<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-center">
      <%= link_to "TeeTime", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Golf Courses", golf_courses_path %></li>
        <li><%= link_to "Games", games_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to current_user.full_name, edit_user_path(current_user.id) %></li>
          <li><%= link_to "Dashboard", games_path %></li>
          <li><%= link_to "Logout", sessions_path("current"), method: "delete" %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Log In", "javascript:void(0)", data: {toggle: "modal", target: "#signInModal"} %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= render "sessions/new" %>
