<div class="row">
	<!-- <div class="col-sm-4 col-md-3 sidebar"> -->
  <div class="the-side-bar">
    <div class="mini-submenu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div class="list-group">
      <a href= "<%= new_game_path %>"class="list-group-item">
          New game
      </a>
      <a id="all-games" href="<%= games_path %>" class="list-group-item">
          All my games
      </a>
      <a href="<%= new_request_path %>" class="list-group-item">
          Join a game
      </a>
      <a href="<%= requests_path %>" class="list-group-item">
          New Requests <span class="badge"><%= current_user.pending_requests.count %></span>
      </a>
      <a href="<%= invitations_path %>" class="list-group-item">
          New Invitations <span class="badge"><%= current_user.invitations.count %></span>
      </a>
      <a id="created-by-me" href="<%= created_by_me_games_path %>" class="list-group-item">
          Created by me
      </a>
      <a id="games-requested" href="<%= requested_by_me_games_path %>" class="list-group-item">
          Requested to join
      </a>
    </div>
  </div>
</div>
