<div class="row">
	<!-- <div class="col-sm-4 col-md-3 sidebar"> -->
  <div class="the-side-bar">
    <div class="mini-submenu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div class="list-group">
      <a href= "<%= new_game_path %>"class="list-group-item">
          New game
      </a>
      <a href="<%= new_request_path %>" class="list-group-item">
          Join a game
      </a>
      <a href="<%= requests_path %>" class="list-group-item">
          Requests <span class="badge"><%= current_user.pending_requests.count %></span>
      </a>
      <a href="<%= invitations_path %>" class="list-group-item">
          Invitations <span class="badge"><%= current_user.invitations.count %></span>
      </a>
      <a href="<%= games_path %>" class="list-group-item">
          Games I've created
      </a>
      <a href="#" class="list-group-item">
          <i class="fa fa-envelope"></i> Lorem ipsum
      </a>
    </div>
  </div>
</div>
