<!DOCTYPE html>
<html>
<head>
  <title>TeeTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<nav>
  <%= link_to "Home", root_path %>
   |
  <%= link_to "Golf Courses", golf_courses_path %>
  |
  <%= link_to "Games", games_path %>
</nav>
<%= flash[:notice] || flash[:alert] %>

<%= yield %>

</body>
</html>
